# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.
# This workflow will build a Java project with Gradle and cache/restore any dependencies to improve the workflow execution time
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-java-with-gradle

name: upload to release jar

on:
  release:
    types: [created]

jobs:
  build:
    name: 构建并发布
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Set up JDK 11
      uses: actions/setup-java@v3
      with:
        java-version: '11'
        distribution: 'temurin'
    - name: Build with Gradle
      uses: gradle/gradle-build-action@67421db6bd0bf253fb4bd25b31ebb98943c375e1
      with:
        arguments: shadow
    - name: Upload to release
      uses: JasonEtco/upload-to-release@master
      with:
        args: ./build/libs/NewBingGoGo-web-1.0-SNAPSHOT-all.jar  application/zip
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
